# Configurações de API
# Para desenvolvimento local
VITE_API_URL=http://localhost:8080/verly-service

# Para produção
# VITE_API_URL=https://api.verlyvidracaria.com/verly-service

# Rota inicial pós-login (default: /products)
VITE_POST_LOGIN_REDIRECT=/leads

# Outras configurações podem ser adicionadas aqui conforme necessário